

body {
  padding: 0;
  margin: 0;
  background-color: #f7f8fa;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;

}


